.facility-container {
    .facility-content {
        background-color: #f0efef;

        .slide {
            .slide-item {
                .facility-item {
                    background: url('../../../assets/images/Facility/img1.jpg');
                    background-color: #fbf7f7;
                }
            }

        }

    }
}