.specialty-container {
    .specialty-content {
        background-color: #fbf7f7;

        .slide {
            .slide-item {
                .specialty-item {
                    background: url('../../../assets/images/Specialty/img1.jpg');
                    background-color: #f0efef;
                }
            }

        }

    }
}